.logo {
  margin-right: 93px;

  color: $logo-nav-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo__web {
  color: $accent-color;
}

.logo__studio {
  color: $primari-white-color;
}
@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
