.mail {
  // display: flex;
  flex-direction: column;
  margin-left: auto;
}
.mail__box {
  // display: flex;
}

.mail__input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  outline: none;
  caret-color: $title-text-color;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  caret-color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $hero-background-color;
  color: rgba(255, 255, 255, 0.6);
}

.mail__submit {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 10px 29px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $primari-white-color;
  background-color: $accent-color;
  border: none;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
  transition: background-color $transition;

  &:focus,
  &:hover {
    background-color: $hero-button-focus-color;
  }
}
.mail__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $primari-white-color;
}

.mail__label {
  margin-bottom: 20px;
  color: $primari-white-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
