.mail {
  flex-direction: column;

  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    margin: 0 0 auto auto;
  }
}
.mail__box {
  display: flex;

  @media screen and (max-width: 1199px) {
    justify-content: center;
    flex-direction: column;
  }
}

.mail__input {
  padding: 15px 16px;

  margin-left: auto;
  margin-right: auto;
  outline: none;
  caret-color: $title-text-color;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  caret-color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $hero-background-color;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (min-width: 480px), (max-width: 1199px) {
    width: 450px;
    margin: 0 auto 20px auto;
  }
  @media screen and (max-width: 479px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin: 0 12px 0 0;
  }
}

.mail__submit {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 10px 29px;
  width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $primari-white-color;
  background-color: $accent-color;
  border: none;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
  transition: background-color $transition;

  &:focus,
  &:hover {
    background-color: $hero-button-focus-color;
  }

  @media screen and (max-width: 1199px) {
    margin-right: auto;
    margin-left: auto;
  }
}
.mail__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $primari-white-color;
}

.mail__label {
  margin-bottom: 20px;
  color: $primari-white-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}
