/* work */

.section.work {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding: 0;
}

.work {
  padding-top: 0px;
}
.work__label {
  display: flex;
  position: absolute;

  height: 70px;
  width: 100%;
  bottom: 0;
  color: $primari-white-color;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}
.work__card {
  display: flex;
}

.work__item {
  width: calc((100%-4 * 15px) / 3);
  margin-right: 30px;

  & :nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.work__position {
  display: block;
  position: relative;
}
