// .filter {
//   margin-bottom: 50px;
//   display: flex;
//   justify-content: center;
// }
// .filter__item {
//   border-radius: 4px;

//   &:not(:last-child) {
//     margin-right: 8px;
//   }
// }
