// .box__list {
//   display: flex;

//   .list__item {
//     margin-right: 10px;

//     &:last-child {
//       margin: 0px;
//     }
//   }

//   .list__link {
//     display: flex;
//     width: 44px;
//     height: 44px;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
//     background: rgba(255, 255, 255, 0.1);
//     transition: background-color $transition;

//     &:hover,
//     &:focus {
//       background-color: $accent-color;
//     }
//   }

//   .list__icon {
//     width: 20px;
//     height: 20px;
//     fill: $primari-white-color;
//   }
// }
// .box__title {
//   margin-bottom: 20px;
//   color: $primari-white-color;

//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
// }
