/* site-nav */

// .nav {
//   display: flex;
//   align-items: center;
// }
// .nav__site {
//   display: flex;
// }

// .nav__item:not(:last-child) {
//   margin-right: 50px;
// }

// .nav__link {
//   position: relative;
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   color: $logo-nav-color;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.33;
//   letter-spacing: 0.02em;
//   transition: color $transition;

//   &:hover,
//   &:focus {
//     color: $accent-color;
//   }

//   &.current {
//     color: $accent-color;
//   }

//   &.current::after {
//     position: absolute;
//     width: 100%;
//     height: 4px;
//     content: "";
//     left: 0;
//     bottom: 0;

//     background-color: $accent-color;
//     border-radius: 2px;
//   }
// }
